<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.example.jamf.policy</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/jamf</string>
        <string>policy</string>
        <string>-id</string>
        <string>&lt;Policy ID&gt;</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>1800</integer>

    <key>StandardOutPath</key>
    <string>/var/log/jamf-policy.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/jamf-policy.err</string>

</dict>
</plist>